html, body {
    margin: 0;
    padding: 0;
}
    
body {
    font-family: "Lato", sans-serif;
	top: 0px !important; 
}

body > .skiptranslate {
    display: none;
}

#title {
    color: orange;
}

#icn, #icn2 {
    color: orange;
}

h2, p {
    margin-left: 10px;
}

header {
    background-color: #329acd;
    color: white;
    padding: 20px;
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.settings {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: orange;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    overflow-y: scroll;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3a
}

.settings a, .container, .settings p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3a
}

.settings label {
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 0.3a
}

.sidenav a:hover {
    color: #f1f1f1;
    font-weight: bold;
}

.settings a:hover {
    color: rgb(63, 63, 63);
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

.settings .settingsbtn {
    position: absolute;
    top: 45px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5;
    padding: 10px;
    row-gap: 50px;
}

.grid-item {
    padding: 5px;
    outline-style: solid;
    outline-color: #111;
    height: auto;
    display: inline-flex;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    
}

.grid-item2 {
    text-align: center;
    height: 20px;
    display: inline-flex;
    position: relative;
    margin-top: -40px;
}

.grid-item a:link, .grid-item a:visited {
    color: black;
    text-decoration: none;
}

.grid-item a:hover {
    color: rgb(0, 98, 255);
    text-decoration: none;
    font-weight: bold;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

.scroll-btn-left {
    left: 48%;
    transform: translateY(-50%);
}

.scroll-btn-right {
    right: 48%;
    transform: translateY(-50%);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

figcaption {
    color: black;
    width: 160px;
    text-align: center;
    font-family: "Lato", sans-serif;
}

#imageA, #imageB, #imageC, #imageD, #imageE, #imageF, #imageG, #imageH, #imageI, #imageJ {
    height: 235px;
    width: 155px;
}

.mark_home {
    height: 240px;
    width: 70px;
    margin-left: 30%;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.item3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.item4 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.item5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}
  
.item1, .item2, .item3, .item4, .item5 {
    padding: 10px; 
    margin: 10px;
}

#product-list, #basket-list {
    list-style: none;
    padding: 0;
}

#product-list {
    column-count: 2;
    column-rule-style: solid;
    column-rule-width: 2.5px;
}

#product-list li {
    border: 5px solid #000;
    margin-bottom: 10px;
    padding: 10px;
}

#basket-list li {
    border: 5px solid #000;
    margin-bottom: 10px;
    padding: 10px;
}

#total {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #329acd;
    color: orange;
    padding: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin: 0 2px;
}

nav ul li p {
    color: orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.navbutton {
    background-color: #329acd;
    border: none;
    color: orange;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 2s;
}

.navbutton:hover {
    background-color: #003c5a;
    color: rgb(0, 255, 234);
    border-radius: 25px;
}

#checkout-btn {
	margin-left: 5px;
	padding: 5px;
	font-family: "Lato", sans-serif; 
	border-radius: 6px; 
	border: none; 
	color: #fff; 
	background: linear-gradient(180deg, #4B91F7 0%, #329acd 100%); 
	background-origin: border-box; 
	box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2); 
	user-select: none; 
	-webkit-user-select: none; 
	touch-action: manipulation;
}

.goog-te-gadget {
	color: transparent!important;
	font-size:0px;
}

.goog-logo-link, .goog-te-gadget span {
	display: none!important;
}

.goog-text-highlight {
	background: none !important;
	box-shadow: none !important;
}
 
#google_translate_element select{
	background:black;
	color:white;
	border: none;
	border-radius:3px;
	padding:6px 8px;
	font-family: "Lato", sans-serif;
}

.popup, .popup2, .popup3, .popup4, .popup5 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext, .popup2 .popuptext2, .popup3 .popuptext3, .popup4 .popuptext4, .popup5 .popuptext5 {
    visibility: hidden;
    width: 160px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: relative;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after, .popup2 .popuptext2::after, .popup3 .popuptext3::after, .popup4 .popuptext4::after, .popup5 .popuptext5::after {
    content: "";
    position: relative;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.popup .show, .popup2 .show, .popup3 .show, .popup4 .show, .popup5 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}